.nav-link {
  transition: background-color 0.3s;
  border-radius: 4px;
  color: black;
}

.nav-link:hover {
  background-color: #765AFF ;/* สีที่คุณต้องการให้เป็นการ hover */
  color:#f0f0f0;
}
.sidebar {
  position: fixed; 
  transition: left 0.3s ease; 
}
.content-page{
  transition: 0.5s ease;
}

